{{!< ../default}}

<header class="post-header {{#if cover_image}} has-cover {{/if}}">
  <div class="inner">
    <h1 class="post-title">{{{title}}}</h1>
  </div>
</header>

<main class="content" role="main">
  <article class="{{post_class}}">
    <div class="inner">

      <section class="post-content">

          {{!-- Not logged in: Sign up --}}
          <form class="members-form signup-form" data-members-form="subscribe">
              <h1 class="members-form-title">{{t "Signup to"}} {{@site.title}}</h1>
              <p>{{@site.description}}</p>
              <div class="members-form-box">
                  <input class="signup-email input" data-members-email type="email" placeholder="{{t "Type your email..."}}" required="true" autocomplete="false" />
                  <button class="signup-button button" type="submit">
                      <span class="button-content">{{t "Continue"}}</span>
                      <span class="button-loader"></span>
                  </button>
              </div>
              <div class="message-success">{{t "Check your inbox and click the link to confirm your subscription"}}</div>
              <div class="message-error">{{t "Please enter a valid email address!"}}</div>
          </form>

      </section>

    </div>
  </article>
</main>
